*{
    box-sizing: border-box;
outline: 0;
margin: 0;
padding: 0;

}

ul,li,ol{
    list-style-type: none;

}
a{
    text-decoration: none;
}
/* common class */
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0  auto;
    height: 100px;
}
.color-white{
    color: #fff;
}
.flex{
    display: flex;
}
.justify-btween{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.menu-gap{
    gap: 15px;
}
.my-btn{
background-color: transparent;
border-radius: 8px;
padding: 16px 40px;
}
.login-btn{
    
background: #FFE492;
margin-right: 24px;
}
.bg-lemon{
    
background: #4F9CF9;
}
.bgc{
    background-color: #1A3453;
    height: 100vh;
}








.top-nav {
    
    height: 100px;
}
.logo,.menu,.menu-btn{
    width: 33%;
}
.logo span{
    margin-left: 5px;
}
.banner{
    padding: 50px 0px;

}
.right-side, .left-side{
    width: 50%;

} 
.right-side img{
display: block;
width: 100%;
height: 400px;
}